apiVersion: v1
kind:  ConfigMap
metadata: 
  name: backend
  namespace: expense
data:
  DB_HOST: {{ .Values.configMap.db_host }} # rds endpoint

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: expense
  labels:
    app: backend
    project: expense
    tier: app
spec:
  replicas: 2
  selector: 
    matchLabels: 
      app: backend
      project: expense
      tier: app
  template:
    metadata:
      labels:
        app: backend
        project: expense
        tier: app
    spec:
      containers:
      - name: backend
        image: "{{ .Values.deployment.imageURL }}:{{ .Values.deployment.imageVersion }}"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 128Mi
        envFrom:
        - configMapRef:
            name: backend

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: expense
spec:
  selector:
    app: backend
    project: expense
    tier: app
  ports:
  - name: backend-port
    protocol: "TCP"
    port: 8080
    targetPort: 8080

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: backend
  namespace: expense
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: {{ .Values.hpa.cpuUtilization}}